language: ruby
rvm:
  - 1.9.3
language: python
python:
  - "2.7"
before-install:
  - sudo apt-get update -qq
install:
  - pip install -r requirements.txt --use-mirrors
  - sudo apt-get install -q virtualbox --fix-missing
  - sudo apt-get install -q vagrant --fix-missing
  - sudo vagrant plugin install vagrant-plugin-bundler
script:
  - vagrant up
  - nose2
  - vagrant package python-baseline
after-script:
  - vagrant halt
  - vagrant destroy
